body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: red
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
    align-content: center
  }
  
  .status {
    margin-bottom: 10px;
    text-align: center;
    text-shadow: white;
    color: white;
    background-color: salmon;
  }
  
  .square {
    background: rgb(253, 3, 3);
    border: 1px solid rgb(238, 255, 3);
    float: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 14.3%;
    color: whitesmoke
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .gift {
    background: white;
    float: left;
    height: max-content;
    margin-right: -1px;
    margin-top: 5px;
    padding: 5;
    text-align: center;
    width: max-content;
    color: whitesmoke
  }
  