body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 15px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
   .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-content: center;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .Fullboard {
    height: 200px;
    width: 380px;
  }
  
  /* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.square {
  background: white;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 80px;
  height: 81px;
  text-align: center;
  width: 13.6%;
  border: black;
  padding: 10px 0;
}

.square_active {
  padding: 5px;
  background: #bc1a1a;
  color: white !important
}

.gift {
  background: white;
  float: left;
  margin-right: -1px;
  margin-top: 5px;
  padding: 5;
  text-align: center;
  height: 200px;
  width: 310px;
  color: whitesmoke
}

.photo {
  height: 200px;
  width: 380px;
}